<header>
    <nav class="header-flex">
        <div class="header-logo">
            <%= image_tag 'header-logo.png' %>
        </div>
        <div class="dropdown">
            <p>ドロップ</p>
        </div>
    </nav>
</header>